.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.topheader {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  font-size: 35px;
  background-color: white;
  padding-top: 0px;
}


 .navbar {
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(86,187,205);
 
 }

nav li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  color: blue;
}

.slider-frame{
      overflow: hidden;
      height: 800px;
      width: 1200px;
      margin-left: 360px;
      margin-top: 20px;
  }
 
  /*---------- SLIDE ANIMATION --------------*/
 
 
  @keyframes slide_animation{
      0% {left:0px;}
      10% {left:0px;}
      20% {left:1200px;}
      30% {left:1200px;}
      40% {left: 2400px;}
      50% {left: 2400px;}
      60% {left: 1200px;}
      70% {left: 1200px;}
      80% {left: 0px;}
      90% {left: 0px;}
      100% {left:0px;}
  }
 
  @-webkit-keyframes slide_animation{
      0% {left:0px;}
      10% {left:0px;}
      20% {left:1200px;}
      30% {left:1200px;}
      40% {left: 2400px;}
      50% {left: 2400px;}
      60% {left: 1200px;}
      70% {left: 1200px;}
      80% {left: 0px;}
      90% {left: 0px;}
      100% {left:0px;}
  }
 
  .slide-images{
      width: 3600px;
      height: 800px;
      margin: 0 0 0 -2400px;
      position: relative;
      -webkit-animation-name: slide_animation;
      animation-name: slide_animation;
      -webkit-animation-duration: 33s;
      animation-duration: 33s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
      -webkit-animation-play-state: running;
      animation-play-state: running;
  }
 
  .img-container{
      height: 800px;
      width: 1200px;
      position: relative;
      float: left;
  }
 
  .form, .aboutpage, .contactpage {
    background-color: rgb(86,187,205);
  }

  .aboutpara, .homepage {
    background-color: rgb(86,187,205);
    text-align: center;
  padding-left: 250px; 
  padding-right: 250px;  
  }

  .dogDisplay {
    background-color: white;

  }
.border{
  background-color: rgb(86,187,205);
  border-style: solid;
  border-color: black;
  margin-right: 500px;
  margin-left: 500px;
}